table {
	width: 200px;
	height: 200px;
	border-collapse: collapse;
	margin: 50px auto;
}
td {
	width: 150px;
	height: 150px;
	border: 0;
	text-align: center;
	background-color: red;
}
input {
	height: 16px;
	width: 248px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    background-color: #FFD700;
	box-shadow: 5px 5px #DAA520;
	border: 1px solid #FFD700;
}
/*input:focus { 
	background-color: white; 
}*/
.div02 {
	margin: 10px auto;
	text-align: center;
}
#div03 {
	height: 60px;
	width: 450px;
	background-color: #FFD700;
	box-shadow: 5px 5px #DAA520;
	margin: 10px auto;
	border: 1px solid #FFD700;
	border-radius: 10px; 
	text-align: center;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
}
#td01 {
	animation: slowRotate 0.05s;
	-webkit-animation: slowRotate 0.05s;
	-moz-animation: slowRotate 0.05s;
}
@keyframes slowRotate {
	0% {transform: rotate(0deg);}
	5% {transform: rotate(36deg);}
	10% {transform: rotate(72deg);}
	15% {transform: rotate(108deg);}
	20% {transform: rotate(144deg);}
	25% {transform: rotate(180deg);}
	30% {transform: rotate(216deg);}
	35% {transform: rotate(252deg);}
	40% {transform: rotate(288deg);}
	45% {transform: rotate(324deg);}
	50% {transform: rotate(360deg);}
	55% {transform: rotate(324deg);}
	60% {transform: rotate(288deg);}
	65% {transform: rotate(252deg);}
	70% {transform: rotate(216deg);}
	75% {transform: rotate(180deg);}
	80% {transform: rotate(144deg);}
	85% {transform: rotate(108deg);}
	90% {transform: rotate(72deg);}
	95% {transform: rotate(36deg);}
	100% {transform: rotate(0deg);}
}
@-webkit-keyframes slowRotate {
	0% {transform: rotate(0deg);}
	5% {transform: rotate(36deg);}
	10% {transform: rotate(72deg);}
	15% {transform: rotate(108deg);}
	20% {transform: rotate(144deg);}
	25% {transform: rotate(180deg);}
	30% {transform: rotate(216deg);}
	35% {transform: rotate(252deg);}
	40% {transform: rotate(288deg);}
	45% {transform: rotate(324deg);}
	50% {transform: rotate(360deg);}
	55% {transform: rotate(324deg);}
	60% {transform: rotate(288deg);}
	65% {transform: rotate(252deg);}
	70% {transform: rotate(216deg);}
	75% {transform: rotate(180deg);}
	80% {transform: rotate(144deg);}
	85% {transform: rotate(108deg);}
	90% {transform: rotate(72deg);}
	95% {transform: rotate(36deg);}
	100% {transform: rotate(0deg);}
}
@-moz-keyframes slowRotate {
	0% {transform: rotate(0deg);}
	5% {transform: rotate(36deg);}
	10% {transform: rotate(72deg);}
	15% {transform: rotate(108deg);}
	20% {transform: rotate(144deg);}
	25% {transform: rotate(180deg);}
	30% {transform: rotate(216deg);}
	35% {transform: rotate(252deg);}
	40% {transform: rotate(288deg);}
	45% {transform: rotate(324deg);}
	50% {transform: rotate(360deg);}
	55% {transform: rotate(324deg);}
	60% {transform: rotate(288deg);}
	65% {transform: rotate(252deg);}
	70% {transform: rotate(216deg);}
	75% {transform: rotate(180deg);}
	80% {transform: rotate(144deg);}
	85% {transform: rotate(108deg);}
	90% {transform: rotate(72deg);}
	95% {transform: rotate(36deg);}
	100% {transform: rotate(0deg);}
}